.sealtime {
    
background-color: forestgreen;
    
}

.found {
    text-align: center;
    color: dodgerblue;
    font-size: 50px;
    font-family:  Segoe UI;

}

.joyjoy {
    color: yellow;
}



.welcome {
    text-align: left;
}